<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Customerscontents</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />	
		<link rel="stylesheet" href="css/unicorn.css" />
		<link rel="stylesheet" href="css/summernote.css" />
		<link rel="stylesheet" href="css/icheck/flat/blue.css" />
		<link rel="stylesheet" href="css/select2.css" />	
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="./index.html">Shopify</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
	                <li class="btn dropdown" id="menu-messages">
						<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
							<i class="fa fa-envelope"></i> 
							<span class="text">Messages</span> 
							<span class="label label-danger">5</span> 
							<b class="caret"></b>
						</a>
	                    <ul class="dropdown-menu messages-menu">
	                        <li class="title">
								<i class="fa fa-envelope-alt"></i>Messages
								<a class="title-btn" href="#" title="Write new message"><i class="fa fa-share"></i></a>
							</li>
	                        <li class="message-item">
	                        	<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message"> Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender"> Nunc Cenenatis </span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
	                <li class="btn"><a title="" href="login.html"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
	            </ul>
	        </div>

			<div id="sidebar">
				<div id="search">
					<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
				</div>	
				<ul>
					<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li>
						<a href="orders.html">
							<i class="glyphicon glyphicon-check" aria-hidden="true"></i><span>Orders</span>
						</a>
					</li>					
					<li class="submenu">
						<a href="#"><i class="fa fa-tags"></i> <span>Products</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="ProductList.html">Product List</a></li>
							<li><a href="#">Inventory</a></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">Gift Cards</a></li>
						</ul>
					</li>
					<li><a href="Customers.html"><i class="fa fa-users"></i> <span>Customers</span></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-signal"></i> <span>Reports</span></a></li>
					<li><a href="Discounts.html"><i class="fa fa-scissors"></i> <span>Discounts</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-th-list"></i> <span>Online Store</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">Overview</a></li>
							<li><a href="#">Blog Posts</a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Themes</a></li>
							<li><a href="#">Navigation</a></li>
							<li><a href="#">Domains</a></li>
						</ul>
					</li>
					<li><a href="creatediscount.html"><i class="fa fa-asterisk"></i> <span>Apps</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-cog fa-fw"></i> <span>Settings</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">General</a></li>
							<li><a href="#">Payments</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Taxes</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Gift Cards</a></li>
							<li><a href="#">Files</a></li>
							<li><a href="#">Account</a></li>
							<li><a href="#">Sales Channels</a></li>
							<li><a href="#">Online Store</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="charts.html"><i class="fa fa-signal"></i> <span>Charts &amp; graphs</span></a>
					</li>
				</ul>
			
			</div>
			
			<div id="content">
				<div id="content-header" class="mini">
					<div class="row">
						<div class="col-xs-12">
							<h1><i class="fa fa-users" aria-hidden="true"></i>customer</h1>
						</div>	
				  </div>
					
				</div>
				<div id="breadcrumb">
					<a href="#" title="Go to Customers List" class="tip-bottom"><i class="fa fa-tags"></i> Customers </a>
					<span class="current">paddy zhu</span>
				</div>
				<div class="row">	
					<div class="col-xs-12 col-sm-8 col-lg-8">
					
						<div class="widget-box widget-box-hledit widget-box-hledit-ordercontent-left widget-box-hledit-customerscontent-tableleft">
							<div class="widget-title">
								<h4 class="pull-left">Orders</h4>
							</div>
							<div class="widget-content nopadding">
								<table class="table orderlist-table customerscontent-table">
									<thead>
										<tr>
											<th>Order</th>
											<th>Date</th>
										    <th>Payment</th>
											<th>Fulfillment</th>
											<th class="tr">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr class="orderlist-table-special">
											<td><a href="#" class="customerscontent-table-tda">#1005</a><div class="x-small block">Cancelled</div></td>
										    <td><span> 1 Jun  4:59am</span></td>
										    <td class="status">
											  <span class="badge badge--complete">
												  Refunded
											  </span>
										    </td>
										    <td class="status">
											  <span class="badge badge--attention">
												  Unfulfilled
											  </span>
										    </td>
										    <td class="total tr"><span>$23.09</span></td>
										</tr>
										<tr>
											<td><a href="#" class="customerscontent-table-tda">#1005</a><div class="x-small block">Cancelled</div></td>
										    <td><span> 1 Jun  4:59am</span></td>
										    <td class="status">
											  <span class="badge badge--complete">
												  Refunded
											  </span>
										    </td>
										    <td class="status">
											  <span class="badge badge--attention">
												  Unfulfilled
											  </span>
										    </td>
										    <td class="total tr"><span>$23.09</span></td>
										</tr>
										<tr>
											<td><a href="#" class="customerscontent-table-tda">#1005</a><div class="x-small block">Cancelled</div></td>
										    <td><span> 1 Jun  4:59am</span></td>
										    <td class="status">
											  <span class="badge badge--complete">
												  Refunded
											  </span>
										    </td>
										    <td class="status">
											  <span class="badge badge--attention">
												  Unfulfilled
											  </span>
										    </td>
										    <td class="total tr"><span>$23.09</span></td>
										</tr>
										<tr>
											<td><a href="#" class="customerscontent-table-tda">#1005</a><div class="x-small block">Cancelled</div></td>
										    <td><span> 1 Jun  4:59am</span></td>
										    <td class="status">
											  <span class="badge badge--complete">
												  Refunded
											  </span>
										    </td>
										    <td class="status">
											  <span class="badge badge--attention">
												  Unfulfilled
											  </span>
										    </td>
										    <td class="total tr"><span>$23.09</span></td>
										</tr>
										<tr>
											<td><a href="#" class="customerscontent-table-tda">#1005</a><div class="x-small block">Cancelled</div></td>
										    <td><span> 1 Jun  4:59am</span></td>
										    <td class="status">
											  <span class="badge badge--complete">
												  Refunded
											  </span>
										    </td>
										    <td class="status">
											  <span class="badge badge--attention">
												  Unfulfilled
											  </span>
										    </td>
										    <td class="total tr"><span>$23.09</span></td>
										</tr>
									</tbody>
								</table>		
							</div>
						</div>	
						
						<div class="widget-box widget-box-hledit widget-box-hledit-ordercontent-left">
							<div class="widget-title">
								<h4>Additional Details</h4>
							</div>
							<div class="widget-content nopadding">
								<form>
								  <div class="form-group">
									<label for="orderDetails">Note</label>
									<input type="text" class="form-control" id="orderDetails" placeholder="Add a note to this order…">
								  </div>
								  <div class="form-group">
									<label for="orderTags">Tags</label>
									<input type="text" class="form-control" id="orderTags" placeholder="Reviewed, packed, delivered">
								  </div>
								  <div class="pull-right">
									  <button type="button" class="btn btn-default" disabled="disabled">save</button>
								  </div>
								  <div class="clearfix"></div>
								</form>
							</div>
						</div>	
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-4">
						<div class="widget-box widget-box-hledit widget-box-hledit-ordercontent-right">
							<h4 class="customersconten-right-Overview-box"><span>Overview</span><a href="#">Edit</a></h4>
							<div class="customerscontent-right-box customerscontent-right-Overview">
								<h6><i class="fa fa-envelope-o fa-fw"></i>
								    <a class="inline-block" href="mailto:Paddyzhu@me.com">Paddyzhu@me.com</a>
								</h6>
								<h6><i class="fa fa-bell fa-fw"></i>Accepts marketing</h6>
								<h6><i class="fa fa-user fa-fw"></i>No account</h6>
								<h6><i class="fa fa-beer fa-fw"></i><span>$0.00</span> from completed orders</h6>
							</div>
						 </div>	
						 <div class="widget-box widget-box-hledit widget-box-hledit-ordercontent-right">
							<h4 class="customersconten-right-address"><span>Address</span><a href="#">Add another address</a></h4>
							<div class="customerscontent-right-box customerscontent-right-box-address">
								<h5 class="subdued customerscontent-right-box-Defaultaddress">Default shipping address</h5>
								<i class="fa fa-user fa-fw  user-istyle"></i>
								<a href="#" class="customerscontent-right-box-edit">Edit</a>
								<h6>paddy zhu</h6>
								<h6>pamdacher</h6>
								<h6>jjpme</h6>
								<h6>jjpme</h6>
								<h6>sydney, nanchang 2000</h6>
								<h6>China<i class="fa fa-envelope-o fa-fw"></i></h6>
								<h6><i class="fa fa-envelope-o fa-fw"></i>12345</h6>
							</div>
							<div><h6 class="customerscontent-right-box-show-address">Show 2 other addresses</h6></div>
						 </div>	
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
			<div class="row">
				<div id="footer" class="col-xs-12"></div>
			</div>
		</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/unicorn.js"></script>
<script src="js/unicorn.icheckbox.js"></script>

<script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
	</body>
</html>
