<!DOCTYPE html>
<html lang="en">
	<head>
		<title>orderTrackingContent</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />	
		<link rel="stylesheet" href="css/summernote.css" />
		<link rel="stylesheet" href="css/icheck/flat/blue.css" />
		<link rel="stylesheet" href="css/select2.css" />
		<link rel="stylesheet" href="css/jquery-ui.css" />	
		<link rel="stylesheet" href="css/jquery.tagsinput.css" />	
		<link rel="stylesheet" href="css/unicorn.css" />		
		<link rel="stylesheet" href="css/paddy.css" />	
		<link rel="stylesheet" href="css/fileinput.css"/>	
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="./index.html">Shopify</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
	                <li class="btn dropdown" id="menu-messages">
						<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
							<i class="fa fa-envelope"></i> 
							<span class="text">Messages</span> 
							<span class="label label-danger">5</span> 
							<b class="caret"></b>
						</a>
	                    <ul class="dropdown-menu messages-menu">
	                        <li class="title">
								<i class="fa fa-envelope-alt"></i>Messages
								<a class="title-btn" href="#" title="Write new message"><i class="fa fa-share"></i></a>
							</li>
	                        <li class="message-item">
	                        	<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message"> Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender"> Nunc Cenenatis </span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
	                <li class="btn"><a title="" href="login.html"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
	            </ul>
	        </div>

			<div id="sidebar">
				<div id="search">
					<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
				</div>	
				<ul>
					<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li>
						<a href="orders.html">
							<i class="glyphicon glyphicon-check" aria-hidden="true"></i><span>Orders</span>
						</a>
					</li>					
					<li class="submenu">
						<a href="#"><i class="fa fa-tags"></i> <span>Products</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="ProductList.html">Product List</a></li>
							<li><a href="#">Inventory</a></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">Gift Cards</a></li>
						</ul>
					</li>
					<li><a href="Customers.html"><i class="fa fa-users"></i> <span>Customers</span></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-signal"></i> <span>Reports</span></a></li>
					<li><a href="Discounts.html"><i class="fa fa-scissors"></i> <span>Discounts</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-th-list"></i> <span>Online Store</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">Overview</a></li>
							<li><a href="#">Blog Posts</a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Themes</a></li>
							<li><a href="#">Navigation</a></li>
							<li><a href="#">Domains</a></li>
						</ul>
					</li>
					<li><a href="creatediscount.html"><i class="fa fa-asterisk"></i> <span>Apps</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-cog fa-fw"></i> <span>Settings</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">General</a></li>
							<li><a href="#">Payments</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Taxes</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Gift Cards</a></li>
							<li><a href="#">Files</a></li>
							<li><a href="#">Account</a></li>
							<li><a href="#">Sales Channels</a></li>
							<li><a href="#">Online Store</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="charts.html"><i class="fa fa-signal"></i> <span>Charts &amp; graphs</span></a>
					</li>
				</ul>
			
			</div>
			<div id="content">
				<div id="content-header" class="mini">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-6">
							<h1><i class="glyphicon glyphicon-check" aria-hidden="true"></i>orderTrackingContent</h1>
						</div>	
						<!--div class="col-xs-12 col-sm-6 col-lg-6">
							<div class="text-right">
								<button type="button" class="btn btn-default btn-bgcolor-white"><i class="fa fa-pencil"></i> Change Status</button>
							</div>	
						</div-->	
				  </div>
					
				</div>
				<div id="breadcrumb">
					<a href="/admin/products" title="Go to Orders List" class="tip-bottom"><i class="fa fa-tags"></i> orderTracking </a>
					<a href="#" class="current">#order Tracking Number</a>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-lg-8">
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left">
							<div class="widget-title">
								<h4>Product</h4>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-striped ordercontent-table">
									<tbody>
										<tr>
											<td class="image" width="50px">
											<a href="#"><img alt="4 digit combination steel bike lock w 1.2m cable 2 thumb" class="block" src="img/explame.jpeg" title="$11.9 for a 4 Digit Combination Steel Bike Lock"></a>
											</td>
											<td width="45%">
								<a href="/admin/products/335615107" class="ordercontent-table-tda">$11.9 for a 4 Digit Combination Steel Bike Lock</a>
											  <h6 class="subdued">Default / red / jhh,gd,jjj</h6>
											  <h6 class="subdued">SKU : PRO-2124</h6>
											</td>
											<td width="12%">$11.90×1</td>
											<td>$11.90</td>
										</tr>
										<tr>
											<td class="image" width="50px">
											<a href="#"><img alt="4 digit combination steel bike lock w 1.2m cable 2 thumb" class="block" src="img/explame.jpeg" title="$11.9 for a 4 Digit Combination Steel Bike Lock"></a>
											</td>
											<td width="45%">
								<a href="/admin/products/335615107" class="ordercontent-table-tda">$11.9 for a 4 Digit Combination Steel Bike Lock</a>
											  <h6 class="subdued">Default / red / jhh,gd,jjj</h6>
											  <h6 class="subdued">SKU : PRO-2124</h6>
											</td>
											<td width="12%">$11.90×1</td>
											<td>$11.90</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>	
						
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left order-tracking-content">
							<div class="widget-title">
								<h4>Information</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-12">
									<label for="">问题分类：</label>
									<div class="row">
										<div class="col-sm-5 nopadding"><input name="" type="text" class="form-control" value="错发" /></div>
										<div class="col-sm-1"><i class="fa fa-pencil fa-fw fa-sm"></i></div>
										<div class="col-sm-5">
											<select name="" class="form-control" id="">
												<option value="">错发</option>
												<option value="">漏发</option>
												<option value="">丢包</option>
												<option value="">尺码问题</option>
												<option value="">质量问题</option>
												<option value="">物流超时</option>
												<option value="">取消订单</option>
												<option value="">退回中国</option>
												<option value="">尚未发货</option>
												<option value="">其他</option>
											</select>
										</div>
										<div class="clearfix"></div>
									</div>
									
								  </div>
								  <div class="form-group col-sm-12">
									<label for="bundlePrice">问题备注：</label>
									<textarea class="form-control" rows="3"></textarea>
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							<div class="widget-title">
								<h4>处理方式</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-5 nopadding">
									<select name="" class="form-control" id="treatment" disabled>
										<option value="1">发货</option>
										<option value="2">重寄</option>
										<option value="3">退款</option>
										<option value="4">退运费</option>
										<option value="5">退关税</option>
										<option value="6">Coupon</option>
									</select>
								  </div>
								  <div class="col-xs-1 text-center"><i class="fa fa-pencil"></i></div>
								  <div class="form-group col-sm-3">
									<input name="" type="text" class="form-control" id="price" placeholder="$" style="display:none">
									<select name="" class="form-control" id="coupon" style="display:none">
										<option value="">Coupon10%</option>
										<option value="">Coupon15%</option>
										<option value="">Coupon20%</option>
										<option value="">Coupon30%</option>
									</select>
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							<div class="produccontent-buttomsave-box">
								<div class="pull-right">
									<button type="submit" class="btn btn-default btn-bgcolor-blue">Save change</button>
								</div>
								<div class="clearfix"></div>
						    </div>
									

							<div class="clearfix"></div>

						</div>	

						
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-4">
						<div class="widget-box widget-box-hledit widget-box-hledit-productcontent-right">
							<div class="widget-title">
								<h4>Order Number</h4>
							</div>
							<div class="widget-content nopadding">
								<input type="text" class="form-control" readonly value="20150713000001">
							</div>
							<div class="clearfix"></div>
						</div>	
						<div class="widget-box widget-box-hledit widget-box-hledit-productcontent-right">
						    <div class="widget-title">
								<h4>Order information</h4>
							</div>
							<div class="widget-content nopadding">
								  <div class="form-group">
									<label for="">Member</label>
									<input type="text" class="form-control" readonly value="Helen Keller">
								  </div>
								  <div class="form-group">
									<label for="">Date</label>
									<input type="text" class="form-control" readonly value="2015-07-12">
								  </div>
								  <div class="form-group">
									<label for="">发货单</label>
									<input type="text" class="form-control" readonly value="201507120009">
								  </div>
								  <div class="form-group">
									<label for="">发货日期</label>
									<input type="text" class="form-control" readonly value="2015-07-12">
								  </div>
								  <div class="form-group">
									<label for="">问题物流方式</label>
									<input type="text" class="form-control" readonly value="201507120009">
								  </div>
								  <div class="form-group">
									<label for="">跟踪号/单号</label>
									<input type="text" class="form-control" readonly value="201507120009">
								  </div>
							</div>
						</div>	

	
					</div>
					<div class="clearfix"></div>
					
				</div>
				</form>
			</div>
			<div class="row">
				<div id="footer" class="col-xs-12"></div>
			</div>
		</div>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.custom.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.icheck.min.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/sortable.min.js"></script>
        <script src="js/fileinput.min.js"></script>
        
        <!--左侧nav-->
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/unicorn.js"></script>
        
        <script src="js/jquery.tagsinput.js"></script>
        <script src="js/bootstrap3-typeahead.min.js"></script>
        
        <!--文本编辑器-->
        <script src="js/summernote.js"></script>

		<script>
			$(function(){
				$('input').focus(function(){
					this.blur();
				});
				
				//处理方式
				$val = $('#treatment option:selected').val();
				if($val == '4' || $val == '3' || $val == '5'){
					$("#price").fadeIn(100);
				}else if($val == '6'){
					$('#coupon').fadeIn(100);
				};
				$('#treatment').on('change',function(){
					$val = $(this).val();
					if($val == '4' || $val == '3' || $val == '5'){
						$("#price").fadeIn(100).siblings().fadeOut(1);
					}else if($val == '6'){
						$('#coupon').fadeIn(100).siblings().fadeOut(1);
					}else{
						$("#price").fadeOut(1);
						$('#coupon').fadeOut(1);
					};
				});
				$('.fa-pencil').on('click',function(){
					$('#treatment').attr('disabled',false);
				})

			});
		</script>
	</body>
</html>
