<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ordersRefundContent</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />	
		<link rel="stylesheet" href="css/unicorn.css" />

		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="./index.html">Shopify</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
	                <li class="btn dropdown" id="menu-messages">
						<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
							<i class="fa fa-envelope"></i> 
							<span class="text">Messages</span> 
							<span class="label label-danger">5</span> 
							<b class="caret"></b>
						</a>
	                    <ul class="dropdown-menu messages-menu">
	                        <li class="title">
								<i class="fa fa-envelope-alt"></i>Messages
								<a class="title-btn" href="#" title="Write new message"><i class="fa fa-share"></i></a>
							</li>
	                        <li class="message-item">
	                        	<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message"> Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender"> Nunc Cenenatis </span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
	                <li class="btn"><a title="" href="login.html"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
	            </ul>
	        </div>

			<div id="sidebar">
				<div id="search">
					<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
				</div>	
				<ul>
					<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li>
						<a href="orders.html">
							<i class="glyphicon glyphicon-check" aria-hidden="true"></i><span>Orders</span>
						</a>
					</li>					
					<li class="submenu">
						<a href="#"><i class="fa fa-tags"></i> <span>Products</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="ProductList.html">Product List</a></li>
							<li><a href="#">Inventory</a></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">Gift Cards</a></li>
						</ul>
					</li>
					<li><a href="Customers.html"><i class="fa fa-users"></i> <span>Customers</span></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-signal"></i> <span>Reports</span></a></li>
					<li><a href="Discounts.html"><i class="fa fa-scissors"></i> <span>Discounts</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-th-list"></i> <span>Online Store</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">Overview</a></li>
							<li><a href="#">Blog Posts</a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Themes</a></li>
							<li><a href="#">Navigation</a></li>
							<li><a href="#">Domains</a></li>
						</ul>
					</li>
					<li><a href="creatediscount.html"><i class="fa fa-asterisk"></i> <span>Apps</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-cog fa-fw"></i> <span>Settings</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">General</a></li>
							<li><a href="#">Payments</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Taxes</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Gift Cards</a></li>
							<li><a href="#">Files</a></li>
							<li><a href="#">Account</a></li>
							<li><a href="#">Sales Channels</a></li>
							<li><a href="#">Online Store</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="charts.html"><i class="fa fa-signal"></i> <span>Charts &amp; graphs</span></a>
					</li>
				</ul>
			
			</div>
			
			<div id="content">
				<div id="content-header" class="mini">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-6">
							<h1><i class="glyphicon glyphicon-check" aria-hidden="true"></i>ordersRefundContent</h1>
						</div>	
						<div class="col-xs-12 col-sm-6 col-lg-6">
							<div class="text-right">
								<button type="button" class="btn btn-default btn-bgcolor-white"><i class="fa fa-pencil"></i> Change Status</button>
							</div>	
						</div>	
				  </div>
					
				</div>
				<div id="breadcrumb">
					<a href="/admin/products" title="Go to Orders List" class="tip-bottom"><i class="fa fa-tags"></i> ordersRefund </a>
					<a href="#" class="current">#1001 Today at 10:49pm EDT</a>
				</div>
				<div class="row">	
					<div class="col-xs-12 col-sm-12 col-lg-12">
					
						<div class="widget-box widget-box-hledit widget-box-hledit-ordercontent-left widget-box-hledit-ordercontent-tableleft">
							<div class="widget-title">
								<h4 class="pull-left">Order Refund</h4>
								<h6 class="pull-right"><i class="fa fa-cny ordercontent-iOnlineStore"></i>Online Store</h6>
								<div class="clearfix"></div>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-striped ordercontent-table">
									<tbody>
										<tr>
											<td class="image" width="50px">
											<a href="#"><img alt="4 digit combination steel bike lock w 1.2m cable 2 thumb" class="block" src="img/explame.jpeg" title="$11.9 for a 4 Digit Combination Steel Bike Lock"></a>
											</td>
											<td width="45%">
								<a href="/admin/products/335615107" class="ordercontent-table-tda">$11.9 for a 4 Digit Combination Steel Bike Lock</a>
											  <h6 class="subdued">Default / red / jhh,gd,jjj</h6>
											  <h6 class="subdued">SKU : PRO-2124</h6>
											</td>
											<td width="12%">$11.90×1</td>
											<td>$11.90</td>
										</tr>
										<tr>
											<td class="image" width="50px">
											<a href="#"><img alt="4 digit combination steel bike lock w 1.2m cable 2 thumb" class="block" src="img/explame.jpeg" title="$11.9 for a 4 Digit Combination Steel Bike Lock"></a>
											</td>
											<td width="45%">
								<a href="/admin/products/335615107" class="ordercontent-table-tda">$11.9 for a 4 Digit Combination Steel Bike Lock</a>
											  <h6 class="subdued">Default / red / jhh,gd,jjj</h6>
											  <h6 class="subdued">SKU : PRO-2124</h6>
											</td>
											<td width="12%">$11.90×1</td>
											<td>$11.90</td>
										</tr>
										<tr>
											<td class="image" width="50px"></td>
											<td width="45%"></td>
											<td width="12%"></td>
											<td>
											  <table class="table--nested table--no-border type--right">
												  <tbody>
												  <tr>
													<td class="subdued">Subtotal</td>
													<td>$11.90</td>
												  </tr>
												  <tr>
													  <td class="subdued">
														<div>Shipping</div>
														<div>Standard Shipping</div>
														<div>0.0 kg</div>
													  </td>
													  <td>$10.00</td>
												  </tr>
												  <tr class="next-heading">
														<td>Total</td>
														<td>$23.09</td>
												  </tr>
												  <tr>
														<td class="subdued">Paid by customer</td>
          												<td>$23.03</td>
												  </tr>
												  </tbody>
											  </table>
											</td>
										</tr>
									</tbody>
								</table>	
							</div>
						</div>	
						
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
			<div class="row">
				<div id="footer" class="col-xs-12"></div>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.custom.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!--左侧nav-->
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/unicorn.js"></script>

		<script>
		$('#myTab a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})

		//购买产品数量函数
		function qtyDown(){
			var qty_el = document.getElementById('quantity-valinput');
			var qty = qty_el.value;
			if(qty <=0) return false;
			qty = --qty_el.value; 
			var Paymentspricetext = Number($(".Payments-modal-price").text());
			if( !isNaN( qty ) && qty > 0 ){ 
				$("#Refundwith-input").val(Number((Paymentspricetext*(parseFloat($("#quantity-valinput").val())))).toFixed(2));
				var Refundwithval = parseFloat($("#Refundwith-input").val());  
				$(".Refundprice").text(Refundwithval);
				$("#Refundbtn").removeAttr("disabled");
			}else if(qty == 0){
				$("#Refundbtn").removeClass("btn-bgcolor-blue");$("#Refundbtn").addClass("btn-bgcolor-white");
				$(".Refundprice").text("0.00");
				$("#Refundbtn").attr("disabled","disabled");
				$("#Refundwith-input").val("0.00");
			}        
			return false;
		}

		function qtyUp(){
			var qty_el = document.getElementById('quantity-valinput');
			var qty = qty_el.value;  
			var quantityval = Number($(".quantityval").text()); 
			var Paymentspricetext = $(".Payments-modal-price").text();
			if( !isNaN( qty ) && qty < quantityval) { 
				qty_el.value++;

				//$("#Refundwith-input").val((Paymentspricetext*(parseFloat($("#quantity-valinput").val())))).toFixed(2);

				$("#Refundwith-input").val(Number((Paymentspricetext*(parseFloat($("#quantity-valinput").val())))).toFixed(2));

				$("#Refundbtn").addClass("btn-bgcolor-blue"); $("#Refundbtn").removeClass("btn-bgcolor-white");
				var Refundwithval = parseFloat($("#Refundwith-input").val());
				$(".Refundprice").text(Refundwithval);
				$("#Refundbtn").removeAttr("disabled");
			}
			return false;
		}
		</script>
	</body>
</html>
