<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />	
		<link rel="stylesheet" href="css/summernote.css" />
		<link rel="stylesheet" href="css/icheck/flat/blue.css" />
		<link rel="stylesheet" href="css/select2.css" />
		<link rel="stylesheet" href="css/jquery-ui.css" />	
		<link rel="stylesheet" href="css/jquery.tagsinput.css" />	
		<link rel="stylesheet" href="css/unicorn.css" />		
		<link rel="stylesheet" href="css/paddy.css" />	
		<link rel="stylesheet" href="css/fileinput.css"/>		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="./index.html">Shopify</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
	                <li class="btn dropdown" id="menu-messages">
						<a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
							<i class="fa fa-envelope"></i> 
							<span class="text">Messages</span> 
							<span class="label label-danger">5</span> 
							<b class="caret"></b>
						</a>
	                    <ul class="dropdown-menu messages-menu">
	                        <li class="title">
								<i class="fa fa-envelope-alt"></i>Messages
								<a class="title-btn" href="#" title="Write new message"><i class="fa fa-share"></i></a>
							</li>
	                        <li class="message-item">
	                        	<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender">Nunc Cenenatis</span>
		                                <span class="message"> Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                        <li class="message-item">
								<a href="#">
		                            <img alt="User Icon" src="img/demo/av1.jpg" />
		                            <div class="message-content">
		                            	<span class="message-time">3 mins ago</span>
		                                <span class="message-sender"> Nunc Cenenatis </span>
		                                <span class="message">Hi, can you meet me at the office tomorrow morning?</span>
		                            </div>
	                        	</a>
	                        </li>
	                    </ul>
	                </li>
	                <li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
	                <li class="btn"><a title="" href="login.html"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
	            </ul>
	        </div>

			<div id="sidebar">
				<div id="search">
					<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
				</div>	
				<ul>
					<li><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
					<li>
						<a href="orders.html">
							<i class="glyphicon glyphicon-check" aria-hidden="true"></i><span>Orders</span>
						</a>
					</li>				
					<li class="submenu active open">
						<a href="#"><i class="fa fa-tags"></i> <span>Products</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="ProductList.html">Product List</a></li>
							<li><a href="#">Inventory</a></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">Gift Cards</a></li>
						</ul>
					</li>
					<li><a href="Customers.html"><i class="fa fa-users"></i> <span>Customers</span></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-signal"></i> <span>Reports</span></a></li>
					<li><a href="Discounts.html"><i class="fa fa-scissors"></i> <span>Discounts</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-th-list"></i> <span>Online Store</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">Overview</a></li>
							<li><a href="#">Blog Posts</a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Themes</a></li>
							<li><a href="#">Navigation</a></li>
							<li><a href="#">Domains</a></li>
						</ul>
					</li>
					<li><a href="creatediscount.html"><i class="fa fa-asterisk"></i> <span>Apps</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-cog fa-fw"></i> <span>Settings</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li><a href="#">General</a></li>
							<li><a href="#">Payments</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Taxes</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Gift Cards</a></li>
							<li><a href="#">Files</a></li>
							<li><a href="#">Account</a></li>
							<li><a href="#">Sales Channels</a></li>
							<li><a href="#">Online Store</a></li>
						</ul>
					</li>
					<li>
						<a href="charts.html"><i class="fa fa-signal"></i> <span>Charts &amp; graphs</span></a>
					</li>
				</ul>
			
			</div>
			
			<div id="content">
				<div id="content-header" class="mini">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-6">
							<h1>Products</h1>
						</div>	
						<div class="col-xs-12 col-sm-6 col-lg-6">
							<div class="text-right">
								<button type="button" class="btn btn-default btn-bgcolor-white">
									<span class="fa fa-external-link fa-products-icon" aria-hidden="true"></span>
									Preview
								</button>
								<div class="btn-group" role="group">
								  <button type="button" class="btn btn-default btn-bgcolor-white"><i class="fa fa-chevron-down"></i></button>
								  <button type="button" class="btn btn-default btn-bgcolor-white" disabled="disabled"><i class="fa fa-chevron-up"></i></button>
								</div>
								<button type="button" class="btn btn-default btn-bgcolor-white">Duplicate</button>
								<button type="button" class="btn btn-default btn-bgcolor-white">Save</button>
							</div>	
						</div>	
				  </div>
					
				</div>
				<div id="breadcrumb">
					<a href="/admin/products" title="Go to Product List" class="tip-bottom"><i class="fa fa-tags"></i> Products</a>
					<a href="#" class="current">Add a product</a>
				</div>
				<div class="row">
				<form method="post" enctype="multipart/form-data">
					<div class="col-xs-12 col-sm-8 col-lg-8">
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left">
							  <div class="form-group">
								<label for="producttitle">Title</label>
					<input type="producttitle" class="form-control" id="producttitle" value="$11.9 for a 4 Digit Combination Steel Bike Lock">
							  </div>
							  <div class="form-group">
								<label for="Description">Description</label>
								<textarea class="summernote"><p>Seasons <b>coming up</b></p></textarea>
							  </div>
						</div>	
						
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left">
							<div class="widget-title">
								<h4>Images</h4>
							</div>
							<div class="widget-content nopadding">
								<div class="form-group" id="fileinputbox">
				<input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#" data-preview-file-icon="">
								</div>
							</div>

						</div>	
						
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left widget-box-hledit-productadd-left-Pricingbox">
							<div class="widget-title">
								<h4>Pricing</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-6">
									<label for="Priceinput">Price</label>
									<input type="text" class="form-control" id="Priceinput" value="$">
								  </div>
								  <div class="form-group col-sm-6">
									<label for="Compareatprice">Compare at price</label>
									<input type="text" class="form-control" id="Compareatprice" placeholder="$">
								  </div>
								  <div class="form-group col-sm-6">
									<label for="bundlePrice">Bundle Price</label>
									<input type="text" class="form-control" id="bundlePrice" placeholder="$">
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							<div class="widget-title">
								<h4>Item Sold</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-6">
									<label for="InitialSold">Initial Sold</label>
									<input type="text" class="form-control" id="InitialSold">
								  </div>
								  <div class="form-group col-sm-6">
									<label for="ActualSold">Actual Sold</label>
									<input type="text" class="form-control" id="ActualSold" disabled>
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							
							<div class="widget-title">
								<h4>Inventory</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-6">
									<label for="SKUinput">SKU <span class="subdued">(Stock Keeping Unit)</span></label>
									<input type="text" class="form-control" id="SKUinput">
								  </div>
								  <div class="form-group col-sm-6">
									<label for="Inventorypolicy">Inventory policy</label>
									<select class="selectbox">
									  <option>Don't track inventory</option>
									  <option>Use ERP data</option>
									</select>
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							<div class="widget-title">
								<h4>Shipping</h4>
							</div>
							<div class="widget-content nopadding">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
								  <div class="form-group col-sm-6">
									<label for="Weightinput">Weight</label>
									<h5>
										<input type="text" class="group-radius-left">
										 <select class="form-control group-radius-right">
											 <option selected>kg</option>
										 </select>
									</h5>
								  </div>
								</div>  
								<div class="clearfix"></div>	
							</div>
							<div class="widget-title"> 
							    <div class="col-sm-9 productadd-Variants-left">
								  <h4>Variants</h4>
								  <h6>Does this product come in multiple variations like size or color?</h6>
								</div>
								<div class="col-sm-3 text-right">
								  <button type="button" class="btn btn-default btn-bgcolor-blue" id="addvariants-btn">Add variants</button>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="widget-content nopadding" id="addvariants-hidebox">
							    <div class="col-xs-12 widget-box-hledit-productadd-left-Pricingbox-form">
									<div class="addvariants-hidebox-title">
										<span class="col-sm-6">Option Name</span>
										<span class="col-sm-6">Option Values</span>
										<div class="clearfix"></div>
									</div>
									<div class="addvariants-hidebox-inputbox-all">
										<div class="addvariants-hidebox-inputbox">  
											<div class="col-sm-4"> <input type="text" name="option[]"></div>
											<div class="col-sm-6"> <input type="text" class="tags" name="value[]"></div>
											<div class="col-sm-2"> 
												<button type="button" class="btn btn-default btn-bgcolor-write addvariants-delete">
													<i class="fa fa-trash-o fa-lg"></i>
												</button>
											</div>
											<div class="clearfix"></div>
										 </div>
									 </div> 
									 <div class="Addoptionbox col-sm-12">
										<button type="button" class="btn btn-default btn-bgcolor-white" id="Addoptionbtn">Add another option</button>
									 </div>
									 
									 <div class="addvariants-hidebox-inputbox-selectvariants">
										<h5>Modify the variants to be created:</h5>
										<table class="table table-striped" id="addvariants-hidebox-inputbox-table">
											<thead>
												<tr>
													<th class="select"><input type="checkbox" id="title-checkbox" name="title-checkbox" /></th>
													<th class="addvariants-inputbox-one">Variant</th>
													<th class="addvariants-inputbox-two">Price</th>
													<th class="addvariants-inputbox-stree">SKU</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>	
									 </div> 
								</div>  
								<div class="clearfix"></div>	
							</div>
						</div>	
						
						<div class="widget-box widget-box-hledit widget-box-hledit-productadd-left">
							<div class="widget-title">
								<h4 class="productadd-seotitle col-sm-9">Search engine listing preview</h4>
								<a href="#" class="col-sm-3 productadd-a text-right" id="productadd-website-seo">Edit website SEO</a>
							</div>
							<div class="widget-content nopadding">
					<h6 class="productadd-subdued">Add a title and description to see how this product might appear in a search engine listing.</h6>
							</div>
							<div id="productadd-website-seo-hidebox">
							      <div class="form-group col-sm-12">
									<label for="Pagetitleinput">Page title</label>
									<input type="text" class="form-control" id="Pagetitleinput">
								  </div>
								  <div class="form-group col-sm-12">
									<label for="Metadescription">Meta description</label>
									<input type="text" class="form-control" id="Metadescription">
								  </div>
								  <div class="form-group col-sm-12">
									<label for="URLandhandle">URL andhandle</label>
									<input type="text" class="form-control" id="URLandhandle" placeholder="http://drgrab-dev.myshopify.com/products/">
								  </div>
								  <div class="clearfix"></div>
							</div>
						</div>	
						
					</div>
					<div class="col-xs-12 col-sm-4 col-lg-4">
						<div class="widget-box widget-box-hledit widget-box-hledit-productcontent-right">
							<div class="widget-title">
								<h4>Status</h4>
							</div>
							<div class="widget-content nopadding">
								<div class="productcontent-right-onlinestorebox pull-left">
									<div class="productcontent-right-onlinestorebox-left">
										<select class="selectbox">
											<option>In Stock</option>
											<option>Hidden</option>
											<option>Out of Stock</option>
										</select>
									</div> 
								</div>
							</div>
							<div class="clearfix"></div>
						</div>	
						<div class="widget-box widget-box-hledit widget-box-hledit-productcontent-right">
						    <div class="widget-title">
								<h4>Organization</h4>
							</div>
							<div class="widget-content nopadding">
								  <div class="form-group">
									<label for="exampleInputEmail1">Product type</label>
									<input type="text" class="form-control" value="" id="dg-type">
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Creator</label>
									<input type="text" class="form-control" value="" id="dg-creator">
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Collections</label>
									<select class="js-example-basic-multiple" multiple="multiple">
										<option>First option</option>
										<option>Second option</option>
										<option>Third option</option>
										<option>Fourth option</option>
										<option>Fifth option</option>
										<option>Sixth option</option>
										<option>Seventh option</option>
										<option>Eighth option</option>
									</select>
									<input name="collection" type="hidden" id="hiddenselectval">
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Countdown </label>
									<select class="selectbox">
										<option>First option</option>
										<option>Second option</option>
										<option>Third option</option>
										<option>Fourth option</option>
										<option>Fifth option</option>
										<option>Sixth option</option>
										<option>Seventh option</option>
										<option>Eighth option</option>
									</select>
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Tags1</label>
									<input type="text" class="form-control tags-rightinput" placeholder="Vintage, cotton, summer">
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Tags2</label>
									<input type="text" class="form-control tags-rightinput" placeholder="Vintage, cotton, summer">
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Tags3</label>
									<input type="text" class="form-control tags-rightinput" placeholder="Vintage, cotton, summer">
								  </div>
							</div>
						</div>	
	
					</div>
					<div class="clearfix"></div>
					<div class="produccontent-buttomsave-box pull-left">
						<div class="pull-right">
							<button type="button" class="btn btn-default" disabled="disabled">save</button>
						</div>
				    </div>
					
				</div>	
				</form>
			</div>
			<div class="row">
				<div id="footer" class="col-xs-12"></div>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.custom.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.icheck.min.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/sortable.min.js"></script>
		<script src="js/fileinput.min.js"></script>

		<!--左侧nav-->
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/unicorn.js"></script>
		<script src="js/unicorn.icheckbox.js"></script>

		<script src="js/jquery.tagsinput.js"></script>
		<script src="js/bootstrap3-typeahead.min.js"></script>

		<!--文本编辑器-->
		<script src="js/summernote.js"></script>
		<script type="text/javascript">
		$(function() {
		  $('.summernote').summernote({
			height: 280,
			toolbar: [
				['style', ['bold', 'italic', 'underline', 'clear']],
				['color', ['color']],
				['para', ['ul', 'ol', 'paragraph']],
				['height', ['height']],
				['table', ['table']]
			 ]
		  });
		});


		//addvariants  show hide
		$(document).ready(function(){
		   $("#addvariants-btn").click(function(){
				$("#addvariants-hidebox").animate({
				   height: 'toggle', opacity: 'toggle'
				}, 300);  
				return false;
			});
			$("#productadd-website-seo").click(function(){
				$("#productadd-website-seo-hidebox").animate({
				   height:'toggle', opacity:'toggle'
				}, 300);
				return false;
			})

			
		});

		$('.selectbox').select2();
		$(".js-example-basic-multiple").select2();

		$(".js-example-basic-multiple").change(function(){
			var hiddenselectval = $(this).val();
			$("#hiddenselectval").val(hiddenselectval);//alert($("#hiddenselectval").val());
		});


		function combin(CombinList){
			var Result = new Array();
			var CombineCount = 1;
			for(i in CombinList){
				CombineCount *= CombinList[i].length;
			}
			var RepeatTime = CombineCount;
			for(i in CombinList){
				var ClassNo = i;
				var StudentList = CombinList[i];
				RepeatTime = RepeatTime/StudentList.length;
				var StartPosition = 1;
				for(j in StudentList){
					var TempStartPosition = StartPosition;
					var SpaceCount = CombineCount/StudentList.length/RepeatTime;
					for(var J = 1; J <= SpaceCount; J ++){
						for(var I = 0; I < RepeatTime; I ++){
							if(typeof(Result[TempStartPosition + I]) == 'undefined'){
								Result[TempStartPosition + I] = new Array();
							}
							Result[TempStartPosition + I][ClassNo] = StudentList[j];
						}
						TempStartPosition += RepeatTime*StudentList.length;
					}
					StartPosition += RepeatTime;
				}
			}
			return Result;
		}
		function onchangTag(){
			$(".addvariants-hidebox-inputbox-selectvariants").show();
			$("#addvariants-hidebox-inputbox-table tbody").empty();
			
			var tag_array = new Array();var strs= new Array();
			$(".addvariants-hidebox-inputbox").each(function(i){
			   var gettags = $(this).find(".tag span").text();
			   strs=gettags.split(" "); 
			   strs.splice(length-1,1);
			   tag_array[i] = strs; 
			})
			
			var r = combin(tag_array);  
			var SKUinput = $("#SKUinput").val() ? $.trim($("#SKUinput").val())+"/" : ''; console.log(tag_array);
			for(i in r){
				$("#addvariants-hidebox-inputbox-table tbody").append("<tr><td class=\"select\"><input type=\"checkbox\" id=\"title-checkbox\" name=\"title-checkbox\" /></td><td class=\"addvariants-inputbox-one\">"+r[i].join('-')+"</td><td class=\"addvariants-inputbox-two\"><input type=\"text\" name=\"isku[]\"></td><td class=\"addvariants-inputbox-stree\"><input type=\"text\" value=\""+ SKUinput+r[i].join('-') +"\" name=\"iprice[]\"></td></tr>");
			}
		}
		$("#Addoptionbtn").on('click',function(){
		  $(".addvariants-hidebox-inputbox-all").append("<div class=\"addvariants-hidebox-inputbox\"><div class=\"col-sm-4\"> <input type=\"text\" name=\"option[]\"></div><div class=\"col-sm-6\"> <input type=\"text\" class=\"tags\" name=\"value[]\"></div><div class=\"col-sm-2\"><button type=\"button\" class=\"btn btn-default btn-bgcolor-write addvariants-delete\"><i class=\"fa fa-trash-o fa-lg\"></i></button></div><div class=\"clearfix\"></div></div>");

			 $('.tags').tagsInput({height:'46px',defaultText:'',width:'auto',
			   onAddTag:function(tag){
				   onchangTag();
			   },
			   onRemoveTag:function(tag){
				   onchangTag();
			   }
		   });
		})

		</script>

		<script>
		var addtag;
		$(function() {
			$('.tags').tagsInput({height:'46px',defaultText:'',width:'auto',
			   onAddTag:function(tag){
				  onchangTag();
			   },
			   onRemoveTag:function(tag){
				  onchangTag();
			   }
			});
			
			$('.tags-rightinput').tagsInput({height:'46px'});

		});

		$(document).on('click', '.addvariants-delete', function(event){ 
			$(this).parent().parent(".addvariants-hidebox-inputbox").remove();
			onchangTag();
		});

		</script>
			
		<script>
		  
		//  $.get('http://pandacheer.net/drgrabscript/example_collection.json', function(data){
		//    $("#dg-creator").typeahead({ source:data });
		//  },'json');

		//  $.get('http://pandacheer.net/drgrabscript/example_collection.json', function(data){
		//    $("#dg-type").typeahead({ source:data });
		//  },'json');

		$("#dg-creator").typeahead({ source:["item1","item2","item3"] });
		$("#dg-type").typeahead({ source:["item1","item2","item3"] });

		</script>

		<script>
		$("#file-5").fileinput({
			uploadUrl: '#', // you must set a valid URL here else you will get an error
			allowedFileExtensions : ['jpg', 'png','gif'],
			overwriteInitial: false,
			maxFileSize: 1000,
			maxFilesNum: 10,
			slugCallback: function(filename) {
				var el = $(".file-preview-thumbnails")[0];
				var sortable = Sortable.create(el);
				order = sortable.toArray();
				return filename.replace('(', '_').replace(']', '_');
			}
		});
		</script>

	</body>
</html>
