@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?4ykaef');
    src:    url('fonts/icomoon.eot?4ykaef#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?4ykaef') format('truetype'),
        url('fonts/icomoon.woff?4ykaef') format('woff'),
        url('fonts/icomoon.svg?4ykaef#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\f002";
}
.icon-email:before {
    content: "\f003";
}
.icon-love:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-close:before {
    content: "\f00d";
}
.icon-delete:before {
    content: "\f014";
}
.icon-clock:before {
    content: "\f017";
}
.icon-question:before {
    content: "\f059";
}
.icon-info:before {
    content: "\f05a";
}
.icon-plane:before {
    content: "\f072";
}
.icon-review:before {
    content: "\f075";
}
.icon-cart:before {
    content: "\f07a";
}
.icon-menu:before {
    content: "\f0c9";
}
.icon-uniF0EC:before {
    content: "\f0ec";
}
.icon-arrow-l:before {
    content: "\f104";
}
.icon-arrow-r:before {
    content: "\f105";
}
.icon-arrow-u:before {
    content: "\f106";
}
.icon-arrow-d:before {
    content: "\f107";
}
.icon-back:before {
    content: "\f112";
}
.icon-b-up:before {
    content: "\f139";
}
.icon-b-down:before {
    content: "\f13a";
}
.icon-category:before {
    content: "\f1cb";
}
.icon-female:before {
    content: "\f221";
}
.icon-male:before {
    content: "\f222";
}
.icon-map:before {
    content: "\f278";
}
.icon-Home:before {
    content: "\e600";
}
.icon-coin-dollar:before {
    content: "\e901";
}
.icon-coin-euro:before {
    content: "\e902";
}
.icon-coin-pound:before {
    content: "\e903";
}
.icon-credit-card:before {
    content: "\e900";
}
.icon-map2:before {
    content: "\e904";
}
.icon-alarm:before {
    content: "\e601";
}
.icon-undo:before {
    content: "\e800";
}
.icon-confused:before {
    content: "\e905";
}
.icon-wrong:before {
    content: "\e801";
}
.icon-right:before {
    content: "\e802";
}
.icon-shop:before {
    content: "\e803";
}

